ion-content.background{
    --background:url(../../../assets/land.jpg) no-repeat center center/cover;
}

.title{
    color: white;
    font-size: 26px;
    margin: 16px;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
}

.container{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    padding:26px;
}