<ion-content [fullscreen]="true" color=''>

  <div style="background-color: black;display: flex;flex-direction: row;height: 20%;align-items: center;padding: 16px;">
    <ion-avatar style="height: 80px; width: 80px;border-width: 2px;--border-color: #B1EB49; ">
      <ion-img src={{user?.imageUrl}}></ion-img>
    </ion-avatar>
    <div style="display: flex;flex-direction: column; margin: 16px;">
      <ion-text style="color: white;">{{user?.name}}</ion-text>
      <ion-text style="color: gray;">{{user?.email}}</ion-text>
    </div>
  </div>
  
 <ion-button fill="clear" color='danger' >
  <ion-text>Sign Out</ion-text>
 </ion-button>
</ion-content>
